
<div class="content__box">
    <div class="content__card content-overflow">
        
        <app-list (mostrarLength)="onMostrarLength($event)"></app-list>
        
    </div>
    <div class="context_box column">
        <div class="content__card content__card-sm card-red">
            <div class="align font-lg">
                {{length}}
            </div>
            <div class="align font-md">
                   Tarefas restantes                
            </div>
        </div>
        <div class="content__card content__card-sm column">
            <div class="font-md">
                
                Pomodoro
                
            </div> 
           <app-pomodoro></app-pomodoro>
        </div>
    </div>
    
    
    
    
</div>