<div class="tittle">
    Tarefas
</div>

<app-add (novoObj)="ngOnInit()"></app-add>
<div class="todo_box">

    <div class="todo-card" *ngFor="let item of arr">
        <div class="todo_tasks">
            <div>
                <mat-checkbox class="margin"></mat-checkbox>
            </div>
            <div>
                
                <div class="subtitle">
                    {{item.tarefa}}
                </div>
                <div class="datasub">
                    {{item.dataUtc}}<br/>
                    {{item.id_tarefa}}
                </div>
            </div>
        </div>
        <div class="buttons">
            <app-remove (remObj)="onChangeLength($event)" [array]="arr" [id_t]="item.id_tarefa"></app-remove>
            <app-update></app-update>
        </div>
    </div>
</div>
