.tittle{
    padding: 20px;
    font-size: 3em;
    color: #C6C5B9;
    font-weight: 100;
}

.todo-card{

    background-color: #f9fcfd;
    width:95%;
    margin: 10px auto;
    height:70px;
    border:2px solid #ffffff;
    border-radius: 7px;
    border-top-right-radius: 5px;
    box-shadow: 
        2px 2px 6px #c1c1c452 ,
        -2px -2px 6px #eceeeb80;

}

