.pomodoro-text{
    font-size: 1.5em;
    margin:20px 0px;
    font-weight: bold;
}
.iconad{
    color: white;
}
.align{
    text-align: center;
}
.margin{
    margin:10px 0px;
}
.restore{
    color:rgba(173, 75, 75, 0.781);
}