<div class="pomodoro-text">
                
    {{leftMinutes}}min e {{leftSecounds}}s
    
</div> 
<div class="align" >

    <button *ngIf="buttonStates==0" mat-fab color="warn" aria-label="add icon" (click)="pomodoroClock()">
        <i class=" iconad material-icons">
            play_arrow
        </i>
    </button>
    <button *ngIf="buttonStates==1" mat-fab color="warn" aria-label="add icon" (click)="stopClock()">
        <i class=" iconad material-icons">
            pause
        </i>
    </button>
    <div class="margin">
        <button *ngIf="buttonStates==2"mat-icon-button color="warn" (click)="restoreClock()">
            <audio src=""></audio>
            <i class=" restore material-icons">
                restore
            </i>
        </button>
    </div>
</div>
