<div id="form" (click)="verificarCampos()" >
    
    <div id="inputs">
       <div class="tittle">
            Criar nova tarefa
           
       </div>
     
       <div class="input_task">
           <div class="subtitle">
                Nome da tarefa:  
           </div>
            <input type="text" id="task_name" (keyup)="verificarCampos()" [value]="inputNameTask" (input)="inputNameTask=$event.target.value" autofocus placeholder="ex: Meditar, ler um livro...">
       </div>
       <div  class="input_task">
           <div class="subtitle">
                Concluir até:
           </div>
            <input type="datetime-local" step="1" id="datetime" (keyup)="verificarCampos()" (click)="verificarCampos()" [value]="inputDate" (input)="inputDate=$event.target.value">
            
       </div>
       
       <div (mouseenter)="verificarCampos()" (click)="pushToDatabase()">
           <button id="buttonAdd" mat-fab color="warn" [disabled]="hideButton" aria-label="add icon">
               <i class=" iconad material-icons">
                   add_task
                </i>
            </button>
        </div>
            
    </div>    
</div>


<div class="app-bar">
    <i *ngIf="hide" class=" add material-icons" (click)="handleFormToggle()">
        control_point
    </i>
    <i *ngIf="!hide" class="remove material-icons"(click)="handleFormToggle()">
        clear
    </i>
    
</div>
